{% extends 'base.html' %}

{% block title %}Upload Contacts{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Import Contacts from template</h2>



<div class="card bg-light mb-4">
  <div class="card-body">
    <h5 class="card-title">How to import contacts...</h5>
    <ol class="mb-0">
 <li> <a href="{{ url_for('static', filename='Contact_upload_template.csv') }}" download>
            Download CSV Template
        </a></li>
    <li>Open the template in excel, populate the rows without adding any columns!</li>
    <li>Save the file as a "Comma Separated Values" file *.csv</li>
    <li>Select a list (optional) and Upload the CSV file</li>
    </ol>
  </div>
</div>


<form method="POST" enctype="multipart/form-data" class="mb-4">
<div class="row mb-3">
    <div class="col-md-5 me-2">
        <label for="list_id" class="form-label">Select a List:</label>
        <select name="list_id" id="list_id" class="form-select" required>
            <option value="" disabled selected>-- Choose a List --</option>
            {% for lst in lists %}
                <option value="{{ lst.id }}">{{ lst.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-5">
        <label for="csv_file" class="form-label">Upload CSV:</label>
        <input type="file" name="csv_file" id="csv_file" accept=".csv" class="form-control" required>
    </div>
</div>


    <button type="submit" class="btn btn-primary">Import Data</button>
</form>
</div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="list-unstyled">
        {% for category, message in messages %}
          <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% if rejected_rows %}
        <h4>Rejected Rows</h4>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Row #</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Reason for Rejection</th>
                </tr>
            </thead>
            <tbody>
            {% for row in rejected_rows %}
                <tr>
                    <td>{{ row.rownum }}</td>
                    <td>{{ row.data[0] if row.data|length > 0 else "" }}</td>
                    <td>{{ row.data[1] if row.data|length > 1 else "" }}</td>
                    <td>{{ row.data[2] if row.data|length > 2 else "" }}</td>
                    <td>{{ row.reason }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}